<h1>Customers</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Full Name (Calculated)</th>
      <th>Initials (Calculated)</th>
      <th>Email</th>
    </tr>
  </thead>
  <tbody>
    <% @customers.each do |customer| %>
      <tr>
        <td><%= customer.customer_id %></td>
        <td><%= customer.first_name %></td>
        <td><%= customer.last_name %></td>
        <td><strong><%= customer.name %></strong></td>
        <td><strong><%= customer.initials %></strong></td>
        <td><%= customer.email_address %></td>
      </tr>
    <% end %>
  </tbody>
</table>
